- hosts: clusterservers
  remote_user: vagrant
  vars:
    ansible_port: 2222
    ansible_ssh_pass: vagrant
    ansible_connection: ssh
  tasks:
  - include: "/{{SRC}}/common/tasks/install_common_tools.yml"
  - include: "/{{SRC}}/common/tasks/install_zsh.yml"
  - include: "/{{SRC}}/common/tasks/install_microk8s.yml"
#  - include: "/{{SRC}}/common/tasks/install_minikube.yml"